.Celebs {
  display: flex; /* kích hoạt flexbox */
  cursor: pointer; /* con trỏ chuột biến thành dạng pointer khi trỏ vào đây */
  transition: background-color 0.3s ease; /* Khi thuộc tính background-color thay đổi, chuyển đổi trong 3 giây theo kiểu ease (kiểu mượt) */
  padding: 10px; 
}
.Celebs:hover{
  background-color: rgb(67, 66, 66);
}
.Celebs img {
  width: 50px;
  height: 50px;
  object-fit: cover; /* điều chỉnh ảnh celeb vừa với khung tròn */
  border-radius: 50%; /* tạo khung tròn */
  border: 1px solid whitesmoke;
}
.Celebs p {
  margin: 0 0 0 10px; /* top - right - bottom -left = 0 - 0 - 0 - 10px */
  font-size: 20px;
  font-weight:bold; 
  color: gray;
  padding: 12px;
}