.Chatbox {
    display: flex; /* kích hoạt flexbox */
    flex-direction: column; /* chỉnh layout flexbox theo chiều dọc */
    justify-content: space-between; /* phần tử cách đều nhau, 2 phần tử đầu cuối sát mép */
    flex: 1; 
    padding-left: 20px;
    background-color:rgb(49, 48, 48);
    color: whitesmoke;
    padding-right: 20px;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center; /* căn giữa văn bản bên trong */
    align-items: center; /* căn giữa box văn bản theo chiều dọc */
    height: 100vh;
    width: 100%;
    text-align: center; /* căn giữa box văn bản theo chiều ngang */
}

.welcome-message h2 {
    font-size: 50px;
    font-weight: bold;
    color:whitesmoke;
}

.welcome-message p {
    color: whitesmoke;
    font-size: 24px;
    opacity: 0.7;
}

.chatbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(130, 130, 130);
}

.usericon {
    position:fixed;
    top: 3%;
    right: 4%;
    z-index: 1000; /* set thứ tự của lớp usericon ở trên cùng (không bị đè bởi thuộc tính khác) */
}