.Chatboxhistory {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    overflow-y: auto; /* căn chỉnh nội dung bị tràn theo chiều dọc với mode auto (hiển thị scroll khi cần) */
}
.message-container {
    display: flex;
    align-items: center;
}

.bot-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid whitesmoke;
}
.message {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    max-height: 30px;
    align-items: center;
    display: flex;
}

.user-messages {
    background-color:rgb(131, 131, 131);
    color:whitesmoke;
    max-width: 60%;
    text-align: right; /* căn lề bên phải với message từ user */
    margin-left: auto; /* đẩy tin nhắn user ra biên phải */
}

.bot-messages {
    max-width: 60%;
    color: whitesmoke;
}